<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Familiares</title>
</head>
<body>
    <h1>Lista de Familiares</h1>
    <br>
    <ul>
        <table style="border:2px black">
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Fecha de Nacimiento</th>
        {% for familiar in lista_familiares %}
            <tr>
                <td>{{familiar.nombre}}</td>
                <td>{{familiar.apellido}}</td>
                <td>{{familiar.dni}}</td>
                <td>{{familiar.fecha_de_nacimiento}}</td>
            </tr>
        {% endfor %}
        </table>
        
        
    </ul>

        
    
</body>
</html>